### This notebook is the analysis for Week 3 assignment: Segmentation and Clustering neighborhoods in Toronto

Load packages that will be used

In [1]:
import pandas as pd
import numpy as np

Scrape the table from wiki using pandas

In [2]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

The dataframe already consists of three columns: PostalCode, Borough, and Neighborhood

In [3]:
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Not assigned

In [4]:
df.shape

(287, 3)

Only process the cells that have an assigned borough. The following line removes rows with borough that is Not assigned.

In [5]:
df = df[df["Borough"] != 'Not assigned']

In [6]:
df.shape

(210, 3)

In [7]:
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Not assigned
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

The next 2 requirements are:
- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

I find doing the second one more reasonable before merging neighborhoods with the same postal code and borough.

Assign the same Borough to Not assigned neighborhood

In [8]:
df['Neighbourhood'] = np.where(df['Neighbourhood'] == 'Not assigned', df['Borough'], df['Neighbourhood'])

In [9]:
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [10]:
df.shape

(210, 3)

Merge neughborhoods with the same postal code and borough

In [11]:
df = df.groupby(['Postcode','Borough'], as_index = False).agg({'Neighbourhood': ', '.join})

In [12]:
df.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

Final cleaned dataframe size:

In [13]:
df.shape

(103, 3)

## Please note that my cleaned dataframe is not exactly the same as the example in the assignment example. For instance, at line 11 from the example, it indicates there are 2 neighborhoods at M5A in Downtown Toronto: Regent Park and Habourfront. However, in the real wiki table, there is only 1, as shown below:

In [14]:
df[df['Postcode']=='M5A']

   Postcode           Borough Neighbourhood
53      M5A  Downtown Toronto  Harbourfront